<div class="navbar bg-neutral rounded-b-2xl">
	<div class="navbar-start">
	  <div class="dropdown">
		<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
		  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
		</div>
		<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
		  <li><a>介紹</a></li>
		  <li><a>活動</a></li>
		  <li>
			<a>更多</a>
			<ul class="p-2">
			  <li><a>歷屆幹部</a></li>
			  <li><a>合作夥伴</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	  <a class="btn btn-ghost text-xl">東大資安社</a>
	</div>
	<div class="navbar-center hidden lg:flex">
	  <ul class="menu menu-horizontal text-lg">
		<li><a>介紹</a></li>
		<li><a href="#activities">活動</a></li>
		<li>
			<details>
			  <summary>更多</summary>
			  <ul class="p-2 text-sm">
				<li><a>歷屆幹部</a></li>
				<li><a>合作夥伴</a></li>
			  </ul>
			</details>
		</li>
	  </ul>
	</div>
	<div class="navbar-end pr-1">
	  <a class="btn btn-outline hover:btn-ghost">Join Us</a>
	</div>
</div>