---
import Navbar from '../layouts/Navbar.astro';
import Footer from '../layouts/Footer.astro';
---
<meta charset="utf-8" />
<Navbar />

<main>
  <section class="hero">
    <div class="container text-center min-h-screen">
      <h1 class="text-6xl font-bold mt-6">404</h1>
      <p>Page not found</p>
    </div>
  </section>
</main>

<Footer />